sugarcrm:
    source: http://tenet.dl.sourceforge.net/project/sugarcrm/1%20-%20SugarCRM%206.5.X/SugarCommunityEdition-6.5.X/SugarCE-6.5.23.zip
    hash: 'sha512=5bb4be27a1cabe8e0b3e20698a12ac52e15159077a73295e6170a30e8ff5f31c7a395797c2812936ad721b9472d19570c20c092c1a43f3954cd2c2149fb7ec44'
    cli:
        source: http://apt.inetprocess.fr/pub/sugarcli.phar
        hash:  'sha512=56d829892b3ddf742aad20b6582322c8894b6bbb81a1684adde268a0a32d61885bdcbe1dd7fd9a8227e94ed8b154e80d7154a72fd69cf41a287b0b72e793ea99'
    sites:
        sitenameA.com:
            username: siteAuser
            password: siteApass
            database: siteAdb
            dbhost: localhost
            dbuser: siteAdbuser
            dbpass: siteAdbpass
            url: http://siteA.com
            title: 'siteA title'
            email: siteA@email.com
        sitenameB.com:
            username: siteBuser
            password: siteBpass
            database: siteBdb
            dbhost: localhost
            dbuser: siteBdbuser
            dbpass: siteBdbpass
            url: http://siteB.com
            title: 'siteB title'
            email: siteB@email.com
            source: http://tenet.dl.sourceforge.net/project/sugarcrm/1%20-%20SugarCRM%206.5.X/SugarCommunityEdition-6.5.X/SugarCE-6.5.23.zip
            hash: 'sha512=5bb4be27a1cabe8e0b3e20698a12ac52e15159077a73295e6170a30e8ff5f31c7a395797c2812936ad721b9472d19570c20c092c1a43f3954cd2c2149fb7ec44'            