sugarcrm:
    cli:
        source: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
        hash:  https://github.com/wp-cli/builds/blob/gh-pages/phar/wp-cli-nightly.phar.md5
    sites:
        sitenameA.com:
            username: siteAuser
            password: siteApass
            database: siteAdb
            dbuser: siteAdbuser
            dbpass: siteAdbpass
            url: http://siteA.com
            title: 'siteA title'
            email: siteA@email.com
        sitenameB.com:
            username: siteBuser
            password: siteBpass
            database: siteBdb
            dbuser: siteBdbuser
            dbpass: siteBdbpass
            url: http://siteB.com
            title: 'siteB title'
            email: siteB@email.com