{% set map = salt['grains.filter_by']({
    'default': {
        'docroot': '/www/html',
        'pkgs': ['php5-mysql', 'python-mysqldb', ],
        'wordpress_dir': 'wordpress',
        'www_group': 'www-data',
        'www_user': 'www-data',
    },
    'Debian': {
        'docroot': '/www/html',
        'pkgs': ['php5-mysql', 'python-mysqldb', ],
        'wordpress_dir': 'wordpress',
        'www_group': 'www-data',
        'www_user': 'www-data',
    },
    'Redhat': {
        'docroot': '/var/www/html',
        'pkgs': ['php_mysql', 'MySQL-python', ],
        'wordpress_dir': 'wordpress',
        'www_group': 'apache',
        'www_user': 'apache',
    },
}, merge=salt['pillar.get']('wordpress:lookup')) %}
